<div class="row">
    <div class="col">
        <a routerLink="/presentation">
            <h2>Présentation</h2>
            <img src="assets/p1.jpg" id="pre" alt="">
        </a>
    </div>
    <div class="col">
        <a routerLink="/lieu">
            <h2>Lieu d'exercice</h2>
        </a>
    </div>
    <div class="col">
        <a routerLink="/Recommandation">
            <h2>Recommandations</h2>
        </a>
    </div>
    <div class="col">
        <a routerLink="/horaire">
            <h2>Horaires de consultation</h2>
        </a>
    </div>
</div>