<div class="container-fluid cont" style="margin-left: 50px;">
    <div class="row content">
        <div class="col-sm-8 sidenav shadow p-3 mb-5 bg-white rounded" >
            <img src="assets/med1.jpg" width="100%" class="med">
            <p>
                <b class="doc">Doccure - Making your clinic painless visit?</b>
            </p>
            
               <div class="row content">
                <div class="col-sm-3 sidenav lor">
                    <div class="a">
                        <i class="fa fa-comments" aria-hidden="true" style="color:orangered"></i>
                        Dr. Darren Elder
                    </div>
                </div>
                <div class="col-sm-3 sidenav lor">

                    <div class="a">
                        <i class="fa fa-calendar-check-o" aria-hidden="true" style="color:orangered"></i>
                        4 Dec 2019
                    </div>
                 </div>
                 <div class="col-sm-3 sidenav lor">

                    <div class="a">
                        <i class="fa fa-comments" aria-hidden="true" style="color:orangered"></i>
                        12 Comments
                    </div>
                 </div>
                 <div class="col-sm-3 sidenav lor">

                    <div class="a">
                        <i class="fa fa-comments" aria-hidden="true" style="color:orangered"></i>
                        Health Tips
                    </div>
                 </div>
                </div>
                
            <br>
            <p class="lor">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </p>
           <br>
            <p class="lor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio
                n ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipi
                scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</p>

        </div>
        <div class="col-sm-4 sidenav">
            <div class="thumbnail">
            <div class="shadow p-3 mb-5 bg-white rounded">
            <p>            <b class="doc med">Latest Posts</b>            </p> 
            <hr class="sidebar-divider">  
            <div class="row content med">
                <div class="col-sm-2 sidenav">
                    <img src="assets/Capture.jpg" class="shadow rounded" alt="" srcset="">
                </div>
                <div class="col-sm-10 sidenav ch">
                    <b>Doccure - Making your <br> clinic painless visit? </b> <br>
                    4 Dec 2019
                </div>
            </div>
            <br>
            <div class="row content med">
                <div class="col-sm-2 sidenav">
                    <img src="assets/Capture.jpg" class="shadow rounded" alt="" srcset="">
                </div>
                <div class="col-sm-10 sidenav ch">
                    <b>What are the benefits of<br> clinic painless visit? </b> <br>
                    3 Dec 2019
                </div>
            </div>
            <br>
            <div class="row content med">
                <div class="col-sm-2 sidenav">
                    <img src="assets/Capture.jpg" class="shadow rounded" alt="" srcset="">
                </div>
                <div class="col-sm-10 sidenav ch">
                    <b>Benefits of consulting with<br> an online Doctor </b> <br>
                    3 Dec 2019
                </div>
            </div>
            <br>
            <div class="row content med">
                <div class="col-sm-2 sidenav">
                    <img src="assets/Capture.jpg" class="shadow rounded" alt="" srcset="">
                </div>
                <div class="col-sm-10 sidenav ch">
                    <b>5 Great reasons to us an<br> online Doctor </b> <br>
                    2 Dec 2019
                </div>
            </div>
            <br>
            <div class="row content med">
                <div class="col-sm-2" style="margin-right: 0px;">
                    <img src="assets/Capture.jpg" class="shadow rounded" alt="" srcset="">
                </div>
                <div class="col-sm-10 sidenav ch" >
                    <b >online Doctor<br> Appointment Scheduling </b> <br>
                    1 Dec 2019
                </div>
            </div>
            <br>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <br>
            <p>            <b class="doc med">Blog Categories</b>            </p> 
            <hr class="sidebar-divider">  
           <div class="row content med">
               <div class="col-sm-10 sidenav">
                <b>Cardiology</b>
              </div>
              <div class="col-sm-2 sidenav">
                (62)
              </div> 
          </div> <br>
          <div class="row content med">
            <div class="col-sm-10 sidenav">
             <b>Health Care</b>
           </div>
           <div class="col-sm-2 sidenav">
             (27)
           </div> 
          </div> <br>
          <div class="row content med">
            <div class="col-sm-10 sidenav">
             <b>Nutritions</b>
           </div>
           <div class="col-sm-2 sidenav">
             (41)
           </div> 
          </div> <br>
          <div class="row content med">
            <div class="col-sm-10 sidenav">
             <b>Health Tips</b>
           </div>
           <div class="col-sm-2 sidenav">
             (16)
           </div> 
          </div> <br>
          <div class="row content med">
            <div class="col-sm-10 sidenav">
             <b>Medical Research</b>
           </div>
           <div class="col-sm-2 sidenav">
             (55)
           </div> 
          </div> <br>
          <div class="row content med">
            <div class="col-sm-10 sidenav">
             <b>Health Treatment</b>
           </div>
           <div class="col-sm-2 sidenav">
             (07)
           </div> 
          </div> <br>


        </div>
        </div>
    
        
   
        </div>
    
    </div>
   
    <div class="row content">
        <div class="col-sm-8 sidenav shadow p-3 mb-5 bg-white rounded" >
            <p>  <b class="doc med">Share the post </b>            </p> 
            <hr class="sidebar-divider"> 
            <div class="row content">
                <div class="col-sm-1 sidenav shadow rounded">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
                <div class="col-sm-1 sidenav shadow rounded">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </div>
                <div class="col-sm-1 sidenav shadow rounded">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </div>
                <div class="col-sm-1 sidenav shadow rounded">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </div>
                <div class="col-sm-1 sidenav shadow rounded">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </div>
            </div>
           
        </div>
        <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
            <p>  <b class="doc med">Tags </b>            </p> 
            <hr class="sidebar-divider"> 
            <div class="row content">
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Children</p>
                </div>
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Disease</p>
                </div>
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Appointment</p>
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-3 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Booking</p>
                </div>
                <div class="col-sm-3 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Kids</p>
                </div>
                <div class="col-sm-3 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Health</p>
                </div>
                <div class="col-sm-3 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Family</p>
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-3 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Tips</p>
                </div>
                <div class="col-sm-3 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Shedule</p>
                </div>
                <div class="col-sm-3 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Treatment</p>
                </div>
                <div class="col-sm-3 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Dr</p>
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Clinic</p>
                </div>
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Online</p>
                </div>
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Health Care</p>
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Consulting</p>
                </div>
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Doctors</p>
                </div>
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Neurology</p>
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Dentists</p>
                </div>
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Specialist</p>
                </div>
                <div class="col-sm-4 sidenav shadow p-3 mb-5 bg-white rounded" >
                    <p>Doccure</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row content">
        <div class="col-sm-8 sidenav shadow p-3 mb-5 bg-white rounded" >
            <p>  <b class="doc med">Comments (12) </b></p>
            <hr class="sidebar-divider"> 
            <div class="row content">
                <div class="col-sm-12 sidenav  p-3 mb-5 bg-white rounded" >
                    <p class="lor com"> <img src="assets/300.jpg" alt="" srcset="">
                         <b class="lor" style="margin-left: 10px;">Michelle Fairfax</b><br>
                        
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                         Eveniet nesciunt veniam, magnam, ut voluptate voluptatum error eos iusto dolores 
                         eligendi officiis porro placeat necessitatibus explicabo enim aliquam optio 
                         repellendus quasi.
                    </p>
                   <div class="com"><p  style="color: rgb(97, 97, 94);"> Dec 6, 2017 </p></div> 
                   <div class="com" style="color: orange;"><p><i class="fa fa-reply" aria-hidden="true"></i>
                    Repondre</p></div> 
                    
                    <p class="lor com1"> <img src="assets/300.jpg" alt="" srcset=""> 
                        <b class="lor" style="margin-left: 10px;">Gina Moore</b><br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Eveniet nesciunt veniam, magnam, ut voluptate voluptatum error eos iusto dolores eligendi officiis porro placeat necessitatibus explicabo enim aliquam optio repellendus quasi.</p>
                    <div class="com1"><p  style="color: rgb(97, 97, 94);"> Dec 6, 2017 </p></div> 
                    <div class="com1" style="color: orange;"><p><i class="fa fa-reply" aria-hidden="true"></i>
                     Repondre</p></div> 
                
                <p class="lor com1"> <img src="assets/300.jpg" alt="" srcset="">
                    <b class="lor" style="margin-left: 10px;">Karle Kelly</b><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eveniet nesciunt veniam, magnam, ut voluptate voluptatum error eo
                    s iusto dolores eligendi officiis porro placeat necessitatibus explicabo
                     enim aliquam optio repellendus quasi.</p>
                    <div class="com1"><p  style="color: rgb(97, 97, 94);"> Dec 7, 2017 </p></div> 
                    <div class="com1" style="color: orange;"><p><i class="fa fa-reply" aria-hidden="true"></i>
                     Repondre</p>
             </div> 
             <p class="lor com"> <img src="assets/300.jpg" alt="" srcset="">
                <b class="lor" style="margin-left: 10px;">Michelle Fairfax</b><br>
               
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                
           </p>
          <div class="com"><p style="color: rgb(97, 97, 94);"> Decembre 11, 2017 </p></div> 
          <p class="lor com"> <img src="assets/300.jpg" alt="" srcset="">
            <b class="lor" style="margin-left: 10px;">Michelle Fairfax</b><br>
           
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            
       </p>
         <div class="com"><p style="color: rgb(97, 97, 94);"> Decembre 11, 2017 </p></div> 
     
                </div>
               
               
            </div> 
           
                
        </div>
    </div>
    
    <div class="row content">
        <div class="col-sm-8 sidenav shadow p-3 mb-5 bg-white rounded" >
            <p>  <b class="doc med">Leave Comment </b>            </p> 
            <hr class="sidebar-divider"> 
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="email" class="form-control" id="name">
                  </div>
                <div class="form-group">
                  <label for="mail">Your Email address</label>
                  <input type="email" class="form-control" id="mail">
                </div>
               
                
                <div class="form-group">
                  <label for="comment">Comments</label>
                  <textarea class="form-control" id="comment" rows="3"></textarea>
                </div>
              </form>
           
        </div>
    </div>
</div>
