.cont{
    margin-left: 45px;
}
.med{
    margin-bottom: 17px;
}
.ch{
    margin-left: 0px;
}
.doc{
    font-size: 24px;
}
.lor{
    font-size: 16px;

}
.com{
    margin-left: 20px;
}
.com1{
    margin-left: 70px;
}