@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}
#jumbultron{
    width: 100%;
    height: 50%;
    opacity: 50;
}
#form1{
    height: 55px;
    margin-right: 1%;
}
#form2{
    height: 55px;
}
h1{
    font-size: 30px;
}
.input-group{
    margin-left:15%; 
    margin-top: 2%; 
    width: 60%; 
    height: 70%;
}
#slide1{
    background-color: white;
    text-align: center;
    position: relative;
    top: -20%;
}
#contain1{
    margin-top: 1%;
    margin-left: 1%;
    width:auto;
}
.modal-body{
    width: 135%;
    margin-left: -20%;
    background-color: white;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
}
#contain21 .card{
    margin-left: 2%;
    margin-top: 2%;
    height: 30;
    box-shadow: 1px 5px 10px gainsboro;
    border-radius: 25%;
}
#contain1 .card{
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: -2%;
    border: white;

    font-weight: bold;
    position: relative;
    animation: mymove 5s infinite;
    display: block;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
#contain1 .card img{
    box-shadow: 1px 1px 5px gainsboro;
    border-radius: 50%;
}
#contain1 .card:hover {
transform: rotate(45deg);
}
#slide2{
    background-color: #f9f9f9;
    text-align: center;
    position: relative;
    top: -10%;
}
#contain2{
    margin-top: 3%;
    margin-left: 25%;
    width:auto;
}
#contain2 .card{
    /*border: 2px solid gainsboro;*/
    border-radius: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
    height: auto;
    box-shadow: 0 1px 10px gray;
    padding-top: 50px;
    width: 15em;
}
/* #contain2 .card:before{
    content: '';
    position:absolute;
    top:0;
    left:-5%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
} 
#contain2 .card:hover:before{
left:-50%;
transform: skewX(-5deg);
} */
#contain2 .card span{
position: absolute;
top: 100%;
left: -50%;
width: 100%;
height: auto;
display: block;
box-sizing: border-box;
}

#contain2 .card span:nth-child(1)
{
transform:rotate(0deg);
}

/* #contain2 .card span:nth-child(2)
{
transform:rotate(90deg);
margin-left: 21%;
margin-top: -80%;
} */

#contain2 .card span:nth-child(3)
{
transform:rotate(180deg);
margin-left: 100%;
top: 0.5%;
}

/* #contain2 .card span:nth-child(4)
{
transform:rotate(270deg);
margin-left: 80%;
top: 50%;
}   */

#contain2 .card span:before
{
content: '';
position: absolute;
width:100%;
height: 4px;
background: turquoise;
animation: animate 2s linear infinite;
}
@keyframes animate {
0% {
transform:scaleX(0);
transform-origin: left;
}
50%
{
transform:scaleX(1);
transform-origin: left;
}
50.1%
{
transform:scaleX(1);
transform-origin: right;

}

100%
{
transform:scaleX(0);
transform-origin: right;

}
}

#contain2 .card img{
    width: 60%;
    margin-left: 20%;
    margin-top: -10%;
}
#slide3{
    background-color: white;
    text-align: center;
    position: relative;
    top: -5%;
}
#contain3{
    margin-top: 3%;
    margin-left: 25%;
    width:auto;
}
#contain3 .card{
    width: 60%;
    margin-left: 3%;
    border: 2px solid gainsboro;
    margin-bottom: 5%;

}
#contain3 .card img{
    width: 117%;
    margin-left: -8%;
}
#contain3 .card {
    border-style: solid;
    box-shadow: 0 5px 20px gainsboro;
    border-width: 1px;
    display: block;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }
  
  #contain3 .card:hover {
    transform: rotate(360deg);
  }

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

#slide4{
    background-color: #f5fff9;
    text-align: center;
    position: relative;
    top: -5%;
}
#contain4{
    margin-top: 3%;
    margin-left: 25%;
    margin-bottom: -15%;
    width:auto;
}
#contain4 .card{
    width: 60%;
    height: 30%;
    margin-left: 3%;
    border: 2px solid gainsboro;
    margin-bottom: 5%;
}
#contain4 .card img{
    width: 60%;
    height: 80px;
    border-radius: 40%;
    margin-top: 15%;
}
#contain4 .card {
    border-style: solid;
    box-shadow: 0 5px 20px gainsboro;
    border-width: 1px;
    display: block;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }
  
  #contain4 .card:hover {
    transform: rotate(90deg);
  }
@media screen and (max-device-width: 512px), screen and (max-width:512px) {
    #slide1{
        background-color: white;
        text-align: center;
        position: relative;
        top: -40%;
    }
    h1{
        font-size: 20px;
    }
    h4,h3{
        font-size: 10px;
    }
    #form1{
        height: 25px;
        margin-right: 1%;
        margin-bottom: 2%;
    }
    #form2{
        height: 25px;
        margin-right: 1%;
    }
    .input-group button{
        height: 25px;
        position: absolute;
        left: 88.5%;
        top: 54%;
    }
    .input-group i{
       position: absolute;
       top: 20%;
       left: 6%;
    }
    #contain1{
        margin-top: 3%;
        margin-left: -1%;
        width:auto;
    }
    #contain1 .card{
        margin-top: 1%;
        margin-left: -1%;
        margin-bottom: -2%;
        border: white;
    
        font-weight: bold;
        position: relative;
        animation: mymove 5s infinite;
        display: block;
        transition: width 2s, height 2s, background-color 2s, transform 2s;
    }
    #slide2{
        background-color: #f9f9f9;
        text-align: center;
        position: relative;
        top: -40%;
    }
    #contain2 .card{
    border: 2px solid gainsboro;
    border-radius: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 15em;
    height: 25em;
    font-size: 10px;
    }
    .card-img-top{
        margin-top: -80%;
    }
    #contain2 .card h2{
        font-size: 15px;
    }
    #contain2{
        margin-top: 3%;
        margin-left: 1%;
        width:auto;
    }
    #contain21{
        background-color: black;
        margin-top: 5%;
        margin-left: 3%;
        margin-bottom:5%;
        width:auto;
    }
    #slide3{
        background-color: white;
        text-align: center;
        position: relative;
        top: -35%;
    }
    #slide4{
        background-color: #f5fff9;
        text-align: center;
        position: relative;
        top: -30%;
    }
}