<img class="img-fluid" src="assets/BAMBOU.png" id="jumbultron">
<div class="text-center" style="position: relative; top: -55%;" id="text">
    <h1>Faites vous accompagner par les meilleurs médecins & spécialistes</h1>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing</h3>
    <div class="input-group">
        <input type="search" id="form1" class="form-control"  placeholder="Quoi ? dentiste, gynécologue, ORL..."/>
        <div class="form-outline">
          <input type="search" id="form2" class="form-control"  placeholder="Où ? Ville"/>
        </div> 
        <button type="button" class="btn btn-warning"><i class="fas fa-search"></i></button>
    </div>
</div>
<div class="container-fluid" id="slide1">
    <div class="text-center mt-5">
        <h1>Hôpitaux,Cliniques & Centres de santé</h1>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sint molestiae, <br> asperiores a  necessitatibus dolores officia expedita tene?</h4>
    </div>
    <div class="row text-center col-md-12 col-sm-8 col-xs-12" id="contain1">
        <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/NUTRITIONNISTE.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Nutritionniste</h2>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/ORL.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">ORL</h2>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/CARDIOLOGUE.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Cardiologue</h2>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/DENTISTE.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Dentiste</h2>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/GYNECOLOGUE.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Gynécologue</h2>
            </div>
          </div>
    </div>
</div>
<div class="container-fluid" id="slide2">
    <h1>Un besoin spécifique ?</h1>
    <h4>Tektal vous trouve les meilleurs professionnels de santé</h4>
    <div class="row text-center col-md-12 col-sm-8 col-xs-12" id="contain2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="assets/GENERALISTE.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Constituer son
                parcours santé</h2>
              <p class="card-text">Trouvez les meilleurs
professionnels de santé</p>
              <a href="#" class="btn btn-success">Trouver</a>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="assets/SPECIFIQUE_NUTRITION_ORANGE.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Préparer l'arrivée
                de son bébé</h2>
              <p class="card-text">Trouvez les meilleurs
professionnels de santé</p>
              <a href="#" class="btn btn-success">Trouver</a>
            </div>
          </div>
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="assets/SPECIFIQUE_NUTRITION_ORANGE.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Bien <br>
                s'alimenter</h2>
              <p class="card-text">Trouvez les meilleurs
professionnels de santé</p>
              <a href="#" class="btn btn-success">Trouver</a>
            </div>
          </div>
    </div>
</div> 
<div class="container-fluid" id="slide3">
    <h1>Ce qu’il faut savoir</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua.</h4>
    <div class="row text-center col-md-12 col-sm-8 col-xs-12" id="contain3">
        <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/med1.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/med2.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/med3.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/med4.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div> 
<div class="container-fluid" id="slide4">
    <h1>Un besoin spécifique ?</h1>
    <h4>Tektal vous trouve les meilleurs professionnels de santé</h4>
    <div class="row text-center col-md-12 col-sm-8 col-xs-12" id="contain4">
        <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/GENERALISTE.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Card title</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/SPECIFIQUE_NUTRITION_ORANGE.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Card title</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/SPECIFIQUE_NUTRITION_ORANGE.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Card title</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="assets/SPECIFIQUE_NUTRITION_ORANGE.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Card title</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div> 