<app-mon-profil-praticien></app-mon-profil-praticien>
<div class="shadow p-3 mb-5 bg-white rounded point2">
    <div class="row">
        <div class="col">
            <a routerLink="/presentation">
                <h2>Présentation</h2>
            </a>
        </div>
        <div class="col">
            <a routerLink="/lieu">
                <h2>Lieu d'exercice</h2>
                <img src="assets/p1.jpg" id="pre" alt="">
            </a>
        </div>
        <div class="col">
            <a routerLink="/Recommandation">
                <h2>Recommandations</h2>
                
            </a>
        </div>
        <div class="col">
            <a routerLink="/horaire">
                <h2>Horaires de consultation</h2>
            </a>
        </div>
    </div><br/>
 <div class="card">
            <div class="card-image car-9"></div>
            <div class="row">
                <div class="col">
                    <h2 class="cons">Smile Cute Dental Care Center</h2>
                </div>
                <div class="col">
                    <h2 id="on-Sat">on-Sat</h2>
                </div>
                <div class="col">
                    <h2 id="deux">$250</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 id="mds">MDS-Periodontology and Oral Implantology.BDS</h3>
                </div>
                <div class="col">
                    <h3 id="prp">10:00-AM-2:00 PM</h3>
                </div>
            </div>
            <div class="hh">
                <div class="row">
                    <div class="col">
                            <img src="assets/etoile.jpg" class="imgss">
                            <img src="assets/etoile.jpg" class="imgss">
                            <img src="assets/etoile.jpg" class="imgss">
                            <img src="assets/etoile.jpg" class="imgss">
                            <img src="assets/etoile2.jpg" class="imgss">(4)
                            <div style="height:2vh;"></div>
                        <img src="assets/geolocalisation.jpg" class="pop">2286 Sundown Lone.Austin Texos 78749.USA
                        <div style="height:2vh;"></div>
                        <h3 id="get">Get Directions</h3>
                    </div>
                    <div class="col">
                        <h3 id="prp">4:00-AM-09:00 PM</h3>
                        <div class="col">
                            <h2>Sun</h2>
                        </div>
                        <h3 id="prp">10:00-AM-2:00 PM</h3>
    
                    </div>
                </div>
            </div>
        </div>
</div>