<app-mon-profil-praticien></app-mon-profil-praticien>
<div class="shadow p-3 mb-5 bg-white rounded point2">
    <app-bar></app-bar>
    <h2>About Mo</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, veniam harum? Ullam excepturi quibusdam
        suscipit minus. Laudantium eaque
        <br /> esse, consequatur ipsum assumenda accusantium voluptatum fuga error delectus quas omnis quod!
        Lorem ipsum dolor sit amet consectetur <br />adipisicing elit. Tempora a fugit dolorem cum totam iure
        aperiam eos, velit nulla ab, mollitia ipsum ducimus, provident ex ad quibusdam autem<br /> accusantium
        pariatur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis obcaecati illo incidunt ab soluta,
        vitae, itaque ipsum quae <br />
        voluptate dignissimos delectus dolorum! Quae officiis voluptatibus animi sapiente corporis ratione
        incidunt?Lorem, ipsum dolor sit amet consectetur <br />adipisicing elit. Nesciunt quia quasi eos et
        aspernatur consequuntur cum magnam inventore, explicabo assumenda tenetur aperiam, veritatis
        distinctio,<br /> veniam natus? Blanditiis voluptates cupiditate vero.
    </p>
    <h2>Education</h2>
    <div class="row">
        <div class="col">
            <img src="assets/trait.jpg" class="srcc">
        </div>
        <div class="col">
            <div class="row">
                <h4 class="bbb">American Dental Medical University
                    <p>BDS<br />1998-2003</p>
                </h4>

            </div>
            <div class="row">
                <h4 class="bbb">American Dental Medical University
                    <p>MDS <br />
                        2003-2005</p>
                </h4>
            </div>
        </div>
    </div>
    <h2>Works & Experience</h2>
    <div class="row">
        <div class="col">
            <img src="assets/point1.jpg" alt="" class="msd">
        </div>
        <div class="col">
            <div class="row">
                <h4 class="bbb">Glowing Smiles Family Dental Clinic
                    <p>2010-Present (5 years)</p>
                </h4>
            </div>
            <div class="row">
                <h4 class="bbb">Confort Care Dental Clinic
                    <p>2007-2010(3 years)</p>
                </h4>
            </div>
            <div class="row">
                <h4 class="bbb">Dream Smile Dental Practice
                    <p>2005-2007(2 years)</p>
                </h4>
            </div>
        </div>
    </div>
    <h2>Services </h2>
    <div class="row">
        <div class="col nk">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Tooth cleaning
            <svg id="flex" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Root Canal Therapy
            <svg id="flex" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Implants
        </div>
    </div><br />
    <div class="row">
        <div class="col nk">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Composite Bonding
            <svg id="flexe" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Fissure Sealants
            <svg id="flexee" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Surgical Extractions
        </div>
    </div><br />
    <h2>Specializations</h2>
    <div class="row">
        <div class="col nk">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Children Care
            <svg id="flexs" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Dental Care
            <svg id="flexsss" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Oral and Maxillofacial Surgery
        </div>
    </div><br />
    <div class="row">
        <div class="col nk">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Orthodontist
            <svg id="flexss" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Periodontist
            <svg id="flexssss" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>Prosthodontics
        </div>
    </div>
</div>