.lien-s{
    color:rgb(44, 43, 43);
}
.sb{
    background-color:#ffffff;
    box-shadow: 12px 12px 12px rgb(231, 227, 227);
    -moz-box-shadow: 12px 12px 12px rgb(231, 227, 227); 
  -webkit-box-shadow: 12px 12px 12px rgb(231, 227, 227); 
}