
 <div class="row align-items-start custom-line"></div>
 <div class="row align-items-start custom-line"></div>
 <div class="row align-items-start custom-line"></div>
<br/>
<br/>

<!-- Page Wrapper -->
<div id="wrapper" style="margin:40px; background-color: red;" >
    
    <!-- Sidebar -->
    <div >
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style=" background-color: red;">

            <!-- Sidebar - Brand -->
            
            
                <div class="col-lg-4" style="margin-bottom: 4px; margin-left: 22px; margin-top: 17px;">
                    <svg class="bd-placeholder-img rounded-circle featurette-image" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>                
                </div>
            

            <div class="center" style="margin-left: 55px;"><b>Dr Darren Elder</b></div>
            <div class="center" style="margin-left: 12px; font-size: 12px;">BDS, MDS-ORAL & Maxilocial Surgery</div>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span style="margin-left: 10px;">Tableau de bord</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <span style="margin-left: 10px;">Appointments</span></a>
            </li>
            <hr class="sidebar-divider">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                    <span style="margin-left: 10px;">My patients</span></a>
            </li>
            <hr class="sidebar-divider">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                    <span style="margin-left: 10px;">Schedule Timings</span></a>
            </li>
            <hr class="sidebar-divider">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    <span style="margin-left: 10px;">Invoices</span></a>
            </li>
            <hr class="sidebar-divider">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span style="margin-left: 10px;">Reviews</span></a>
            </li>
            <hr class="sidebar-divider">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <span style="margin-left: 10px;">Message</span></a>
            </li>
            <hr class="sidebar-divider">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-user-times" aria-hidden="true"></i>
                    <span style="margin-left: 10px;">Mon profil</span></a>
            </li>
            <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <span style="margin-left: 10px;">Change Password </span></a>
            </li>
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span style="margin-left: 10px;">Logout</span></a>
            </li>

        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="margin-left: 25px;">

        <!-- Main Content -->
        <div id="content">          
            <div class="container-fluid">
        

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-lg-4" style="margin-bottom: 4px; margin-left: 25px;">
                        <svg class="bd-placeholder-img rounded-circle featurette-image" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>                       
                      </div>
                      <div class="col-lg-3" style="margin-bottom: 4px; margin-left: 15px;">
                        <svg class="bd-placeholder-img rounded-circle featurette-image" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                        
                      </div>
                      <div class="col-lg-3" style="margin-bottom: 4px; margin-left: 0px;">
                        <svg class="bd-placeholder-img rounded-circle featurette-image" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                        
                      </div>
                </div>


</div>
               

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

       

    </div>
    <!-- End of Content Wrapper -->


<!-- End of Page Wrapper -->