
 
<br/>
<br/>

<!-- Page Wrapper -->
<div id="wrapper section" style="margin-left: 60px;">
    
    <!-- Sidebar -->
    <div id="sb">
    
        <ul class="navbar-nav sidebar sidebar-dark accordion shadow p-3 mb-5 bg-white rounded" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <div class="">
            
                <div class="col-lg-4" style="margin-bottom: 4px; margin-left: 22px; margin-top: 17px; text-align: center;">
                   <!--  <svg class="bd-placeholder-img rounded-circle featurette-image" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/> <text x="50%" y="50%" fill="#aaa" dy=".3em" style="text-align: center;">300x300 </text></svg>                
                    -->
                    <img src="assets/Capture.jpg" class="shadow rounded">
                </div>
                <div class="center" style="margin-left: 60px; color: black;"><b>Dr Darren Elder</b></div>
                <div class="center" style="margin-left: 12px; font-size: 12px;">BDS, MDS-ORAL & Maxilocial Surgery</div>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item" style="color: black;">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-tachometer-alt" style="color:rgb(44, 43, 43);"></i>
                        <span style="margin-left: 10px;" class="lien-s" >Tableau de bord</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-calendar-check-o" aria-hidden="true" style="color:rgb(44, 43, 43);"></i>
                        <span style="margin-left: 10px;" class="lien-s">Appointments</span></a>
                    </li>
                <hr class="sidebar-divider">
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-user-md" aria-hidden="true" style="color:rgb(44, 43, 43);"></i>
                        <span style="margin-left: 10px;" class="lien-s">My patients</span></a>
                </li>
                <hr class="sidebar-divider">
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-hourglass-start" aria-hidden="true" style="color:rgb(44, 43, 43);"></i>
                        <span style="margin-left: 10px;" class="lien-s">Schedule Timings</span></a>
                </li>
                <hr class="sidebar-divider">
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-file-text" aria-hidden="true" style="color:rgb(44, 43, 43);"></i>
                        <span style="margin-left: 10px;" class="lien-s">Invoices</span></a>
                </li>
                <hr class="sidebar-divider">
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-star" aria-hidden="true" style="color:rgb(44, 43, 43);"></i>
                        <span style="margin-left: 10px;" class="lien-s">Reviews</span></a>
                </li>
                <hr class="sidebar-divider">
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-comments" aria-hidden="true" style="color:rgb(44, 43, 43);"></i>
                        <span style="margin-left: 10px;" class="lien-s">Message</span></a>
                </li>
                <hr class="sidebar-divider">
                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-user-times" aria-hidden="true" style="color:rgb(44, 43, 43);"></i>
                        <span style="margin-left: 10px;" class="lien-s">Mon profil</span></a>
                </li>
                <hr class="sidebar-divider">

                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-unlock-alt" aria-hidden="true" style="color:rgb(44, 43, 43);"></i>
                        <span style="margin-left: 10px;" class="lien-s">Change Password </span></a>
                </li>
                <hr class="sidebar-divider">

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-sign-out" aria-hidden="true" style="color:rgb(44, 43, 43);"></i>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span style="margin-left: 10px;" class="lien-s">Logout</span>
                    </a>
                </li>
        </div>
        </ul>
    </div>
    <!-- End of Sidebar -->

</div>