<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid" id="navbar">
            <a class="navbar-brand" id='imge' href="#"><img src="assets/VERT_FONCE.jpg" alt='photo' width="200"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                </ul>
                <form class="d-flex" id="flex">
                    <button type="button" class="btn btn-outline-warning" id='tof'>Vous êtes un professionnel de
                        santé?</button>
                    <p id="an">Annuaire des médecins </p>
                    <a href="#" type="submit" id="con">Connexion</a>
                </form>
            </div>
        </div>
    </nav>
    <hr>
</body>

</html>

<!-- <a class="dropdown-item" routerLink="/connexion">Aller a la page Home</a> -->